*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth;
}

header{
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
}

.HeaderTitle{
  font-size: 50;
}

.navbar{
  flex-direction: row;

}

